main {
  section {
    article {
      display: flex;
      flex-direction: column;
      .search-options {
        display: flex;
        justify-content: space-between;
        @include tablet {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .search-todo {
          @include tablet {
            margin-bottom: 2rem;
          }

          input {
            width: 20rem;
            height: 1.5rem;
            border: 2px solid $mainColor;
            border-radius: 4px;
            @include mobile {
              width: 15rem;
            }
            &:focus {
              border: 2px solid $darkmandarine;
              border-radius: 4px;
              background-color: gainsboro;
              outline: none;
            }
          }
          button {
            margin: 0.3rem;
          }
        }
        .drop-container {
          color: $darkmandarine;
          font-weight: 600;
          label {
            padding-right: 1rem;
          }
        }
      }
      .todo-list-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
