.userDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	h1 {
		margin: 2rem;
	}
	.userDetails-info {
		color: $mainColor;
		width: 50%;
		display: flex;
		align-items: center;
		flex-direction: column;
		border: 1px solid $darkmandarine;
		border-radius: 6px;
		box-shadow: 5px 10px $darkmandarine;
		p {
			margin: 1rem;
			strong {
				font-weight: 700;
				color: $darkmandarine;
			}
		}
	}

	.userDetails-btn-container {
		width: 100%;
		display: flex;
		justify-content: center;
		margin-top: 2rem;
	}
}
